body{
  background-color: white;
}

.analog-clock {
  background-color: white;
  --size: 600px;
  width: var(--size);
  height: var(--size);
  border: 25px pink solid;
  border-radius: 50%;
  position: relative;
  top: 10rem;
  margin: auto;
  padding: 5px;
  box-shadow: 5px 5px 20px 0px black;
}

.clock-hand{
  box-shadow: 0px 0px 5px -2px black;
  transform-origin: 100%;
  top: 49%;
  position: absolute;
  transform: rotate(90deg);
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
  border: 2px solid black;
}

#seconds-hand{
  height: 2px;
  width: 45%;
  left: 5%;
  --color: #860808;
  border-color: var(--color);
  background-color: var(--color);
}

#minutes-hand{
  height: 3px;
  width: 37%;
  left: 13%;
  --color: #CA87AD;
  border-color: var(--color);
  background-color: var(--color);
}

#hours-hand{
  height: 8px;
  width: 32%;
  left: 18%;
  --color: #470028;
  border-color: var(--color);
  background-color: var(--color);
}
