body {
  font-family: sans-serif;
  background-color: #eee;
  --main-color: rgb(197, 81, 14);
}

#s1-color{
  transition-duration: 1s;
}
#s2-color{
  transition-duration: 1s;
}
#s3-color{
  transition-duration: 1s;
}
#s5-color{
  transition-duration: 1s;
}

#banner{
  background-image: url('img/mug.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -20em;
  height: 25em;
  margin-bottom: 5em;
}

#topnav {
  margin-top: 5em;
  max-width: 250em;
  margin-left: auto;
  text-align: center;
}

#topnav .nav-item {
  color: #333;
  text-align: center;
  font-size: 3vmin;
  padding: 2em;
  padding-bottom: 3vmin;
  border-bottom: solid #333 0.3em;
  transition-duration: 0.1s;
}

#topnav .nav-item:hover {
  color: var(--main-color);
  border-bottom: solid var(--main-color) 0.8em;
  transition-duration: 0.1s;
}

a:hover{
  text-decoration: none;
}

#main{
  margin-top: 6em;
}

.info-element{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  padding: 3rem;
}

@media only screen and (min-width: 768px) {
  .info-element{
    padding: 7rem;
  }
  .selection{
    min-height: 500px;
  }
} 

.info-big{
  font-size: 3rem;
}

.info-normal{
  font-size: 3vmin;
}

.btn-coffee {
  background-color: var(--main-color);
  padding: 0.5rem 1rem;
  font-family: 'Cormorant Garamond', serif;
  color: #fff
}

.btn-coffee:hover {
  background-color: rgb(157, 64, 0);
  color: #fff;
}


footer{
  color: #ddd;
  padding: 2em;
  height: 100px;
  background-color: #222;
  text-align: center;
}