body {
  font-family: sans-serif;
  background-color: #eee;
}

#banner{
  background-image: url('img/mug.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -20em;
  height: 25em;
  margin-bottom: 5em;
}

#topnav {

  max-width: 250em;
  margin-left: auto;
  text-align: center;
}

#topnav .nav-item {
  color: #333;
  text-align: center;
  font-size: 3vmin;
  padding: 2em;
  padding-bottom: 3vmin;
  border-bottom: solid #333 0.3em;
  transition-duration: 0.1s;
}

#topnav .nav-item:hover {
  border-bottom: solid #333 0.8em;
  transition-duration: 0.1s;
}

a:hover{
  text-decoration: none;
}

#main{
  margin-top: 6em;
}

.info-element{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  padding: 2em;
}


footer{
  color: #ddd;
  padding: 2em;
  margin-top: 200px;
  height: 100px;
  background-color: #222;
  text-align: center;
}