body{
  padding: 0px;

}

#root{
  
}

.scene{
  height: 300px;
}

.information{
  padding: 100px;
}

.illustration{
  background-color: white;
}

#scene-1{
  background-color: green;
}

#scene-2{
  background-color: brown;
}

#scene-3{
  background-color: gray;
}

#scene-4{
  background-color: greenyellow;
}

#scene-5{
  background-color: turquoise;
}

#scene-6{
  background-color: pink;
}

#scene-7{
  background-color: purple;
}

#scene-8{
  background-color: blue;
}

#scene-9{
  background-color: orangered;
}

#scene-10{
  background-color: lime;
}

